html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: #ffffff url('https://images.unsplash.com/photo-1478031706604-bb4b7b0b4e9e?ixlib=rb-0.3.5&q=85&fm=jpg&crop=entropy&cs=srgb&ixid=eyJhcHBfaWQiOjE0NTg5fQ&s=dfec973c8b68c56cdfe07db9927f2741'); /* Free stock photo from Unsplash.com */
    font-family: 'Coda', cursive;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-family: 'Bowlby One SC', cursive;
	font-size: 40px;
	text-align: center;
}

h2 {
    font-family: 'Roboto Condensed', sans-serif;
	font-size: 30px;
    text-align: center;
}

header {
    width: 660px;
	background-color: #ffffff;
	border-radius: 10px;
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: #ffffff url('https://images.unsplash.com/photo-1478031706604-bb4b7b0b4e9e?ixlib=rb-0.3.5&q=85&fm=jpg&crop=entropy&cs=srgb&ixid=eyJhcHBfaWQiOjE0NTg5fQ&s=dfec973c8b68c56cdfe07db9927f2741');
    background-size: 100%;
    font-family: 'Coda', cursive;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-family: 'Bowlby One SC', cursive;
	font-size: 40px;
	text-align: center;
}

h2 {
    font-family: 'Roboto Condensed', sans-serif;
	font-size: 30px;
    text-align: center;
}

header {
    width: 660px;
	background-color: #ffffff;
	border-radius: 10px;
}

/*
 * Styles for the deck of cards
 */

.deck {
    width: 660px;
    min-height: 680px;
    background: #000000;
    padding: 32px;
    border-radius: 10px;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 3em;
}

.deck .card {
    height: 125px;
    width: 125px;
    background: #2e3d49;
    font-size: 0;
    color: #ffffff;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
}

.deck .card.open {
    transform: rotateY(0);
    background: #6699ff;
    cursor: default;
}

.deck .card.show {
    font-size: 60px;
}

.deck .card.match {
    cursor: default;
    background: #cc9933;
    font-size: 40px;
}

/*
 * Styles for the Score Panel
 */

.score-panel {
    text-align: left;
    width: 600px;
    padding-left: 20px;
    margin-bottom: 10px;
}

.score-panel .stars {
    margin: 0;
    padding: 0;
    display: inline-block;
    margin: 0 5px 0 0;
}

.score-panel .stars li {
    list-style: none;
    display: inline-block;
}

.score-panel .restart {
    float: right;
    cursor: pointer;
}
